@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.bg-danger{
  background-color: rgb(230, 67, 67);
}

.card{
  width: 300px;
  background-color: coral;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid salmon;
}